html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  color: red;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

#potato {
  background-color: rgb(77, 0, 0);
  padding: 20px;
}

.yellow {
  color: green;
    font-weight: bold;
}

#top {
  background-color: yellow;
  padding-right:
}

#top h1 {
  color:brown;
}

#top p {
  color:red;
  font-weight: bold;
}